name: Cypress Tests

on: [push]

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '16.15.x'
    
      - name: Run Local Server
        run: npm start
        
      - name: Run Cypress Tests   
        uses: cypress-io/github-action@v5
        with:
          browser: chrome
          command: ./run-cypress.sh
 
          
         
